body {
    display: grid;
    grid-template-columns: repeat(5, 110px);
    column-gap: 10px;
}

div{
    height: 140px;
    width: 90px;
    background-color: #eeeff2;
    border-left: dotted 10px #D0D0FF;
    padding: 10px 0px 0px 10px;
    font-family: Tahoma;
    font-size: 40px;
}

p {
    margin: 0 auto;
}

div:hover {
    background-color: yellow;
    color: goldenrod;
    cursor: pointer;
}

.last-block {
    position: fixed;
    right: 0px;
    bottom: 0px;
}

